body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Splash', cursive;
  /*background: url(b18c.jpg) no-repeat center center fixed;*/
  background:  
          linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ),
        url(b18c.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 2rem;
  color: #e2dbdb;
  margin-top: 330px;
  margin-left: 0x auto;
  /*animation-name: h1;
  animation: h1 3s linear infinite;*/
}

/*@keyframes h1 {
  0%  {color: lightblue;}
  25% {color: royalblue;}
  50% {color: black;}
  75% {color: deepskyblue;}
  100%  {color: blue;}
}*/

h3 {
  width: 1000px;
  font-size: 25px;
  /*margin-left: 0px;*/
  color: dodgerblue;
}

.car {
  color: red;
  font-size: 5em;
  margin-top: -50px;
  transform: scaleX(-1);
  position: relative;
  animation-name: car;
  animation: car 5s linear infinite;
}

@keyframes car {
  from {left: -200px;}
  to {left: 10px;}
  0% {color: transparent;}
  25% {color: red;}
  50% {color: white;}
  75% {color: blue;}
  100% {color: transparent;}
}

.civic {
  color: whitesmoke;
  font-family: 'Bangers', cursive;
  color: red;
  font-size: 3em;
  display:  flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap:  wrap;
  justify-content: center;
}

img {
  width: 400px;
  height: 340px;
  margin: 10px;
  transition: all 0.5s ease;
}

img:hover {
  transform: scale(1.1);
}

hr {
  margin: 20px auto;
  color: #f05f44;
  border: 3px solid #f05f44;
  max-width: 70px;
  opacity: 1;
}

.buffer {
  height: 12rem;
}

.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-outline-light {
  background-color: #f05f44;
  border-color: #f05f44;
  transition: all 1s ease;
}

.btn-outline-light:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 4px;
  font-weight: bold;
  font-size: large;
  color: #ee4b08;
  transform: scale(1.0);
}

.btn-outline-light:focus {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 5px #ee4b08;
  transition: 600ms;
}

.btn-outline-light:active {
  opacity: 0%;
}

.btn-outline-light:after {
  content: 'Lets Go!';
  left: 66px;
  position: absolute;
  opacity: 0%;
}

.btn-outline-light:hover:after {
  content: 'Lets Go!';
  left: 66px;
  position: absolute;
  opacity: 100%;
  color: white;
  transform: scale(1.1);
  transition: all 2s ease;
}


.btn-xl {
  padding: 1rem 2rem;

}